<! doctype html>
<html>
<head>
link(rel='stylesheet', href='/public/css/corgi.css')
</head>
<body>
block content
  h1= title
  p #{title}.
  p #{error}. 

  <h1>yea,maybe next time put in the details.<h1>

</body>
<html>