<% layout('layout') -%>
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      .center-screen {
          position:fixed;
          top: 50%;
          left: 50%;
          width:30em;
          height:18em;
          margin-top: -9em; /*set to a negative number 1/2 of your height*/
          margin-left: -15em; /*set to a negative number 1/2 of your width*/
      }
    </style>
     <div class="jumbotron center-screen">
        <h1>Debate</h1>
        <p class="lead">Some stuff about it goes here.</p>
        <iframe src="http://ghbtns.com/github-btn.html?user=dave911d&repo=debate&type=watch"
  allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
   <iframe src="http://ghbtns.com/github-btn.html?user=dave911d&repo=debate&type="
  allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
        <a class="btn btn-success" href="/register">Sign up today</a>
      </div>