<% layout('layout') -%>
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
        <div class="jumbotron">
        <h1>TightlyBound</h1>
        <p class="lead">Tightlybound. Hundreds of little communities. You join, and you get put in a section. You can only interact with people in this section. Each section consists of 200 people. Once it's full, it's full. However, people will be kicked after a month or so of inactivity and have to join a new one. A twitter-like interface, only encouraging deep discussion. In your little slice of the network.</p>
        <b><p>Coming Soon</p></b>
        <a class="btn btn-large btn-success" href="/register">Sign up today</a>
      </div>