<% layout('layout') -%>
<br>
<center><h1>Register</h1></center>
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>
<script>
function validate(form) {
	var ok = true
	for(var i = 0; i < form.childElementCount; i++){if(form.children[i].value === "" || form.children[i].value === null){ok=false}}
	if(!ok){alert('Please fill in all the fields')}
	return ok;
}

</script>
<script src="/public/js/jquery.min.js"></script>
<form action="/register" method="post" class="form-signin" onsubmit="return validate(this);">
	    <input type="text" name="fullname" class="input-block-level" placeholder="Fullname">
	    <%if(taken.username){%><div class="alert alert-info"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>Whoops!</strong> Username already taken</div><%}%>
	    <input type="text" name="username" class="input-block-level" placeholder="Username">
        <input type="password" name="password" class="input-block-level" placeholder="Password">
        <%if(taken.email){%><div class="alert alert-info"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>Whoops!</strong> Email already bound to account</div><%}%>
        <%if(taken.invalidEmail){%><div class="alert alert-info"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>Whoops!</strong> Email address invalid</div><%}%>
        <input type="text" name="email" class="input-block-level" placeholder="Email">
        <input type="text" name="Location" class="input-block-level" 
        id="location" placeholder="Location">

        <div class="divider"></div>
        <button class="location" type="submit" id="location" value="location">Register</button>
</form>
<script>
var widget = new AutoComplete('location', ['Apple', 'Banana', 'Orange']);
</script>

