<!doctype html>
<head>
<title>node web repl</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="<%= upslashes %>lib/jcubic-jquery.terminal/js/jquery.terminal-min.js"></script>
<link href="<%= upslashes %>lib/jcubic-jquery.terminal/css/jquery.terminal.css" rel="stylesheet"/>
</head>
<body>
<div id="term"></div>

<script>
function boot() {
	$('#term').terminal('<%= mount %>/api', {
		greetings:'Welcome to the REPL',
		height:400
	});
}
$(document).ready(boot);
</script>

</body>
